h1 {
  text-align:center;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.carousel-inner > .item > img {
  width:800px;
  height:800px;
  margin: 0 auto;
}

#port {
  max-width: 50%;
  float: right;
}

.chess {
    margin:left;
    max-width: 30%;
}

.tim {
  text-align: center;
}

.left {
  float:right;
  margin-bottom: 125px;
  border: 1px solid grey;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#bioInfo {
  margin: 15px;
}
